<style type="text/css">
<!--

a:link    {color:#000000}
a:visited {color:#606060}
a:active  {color:#0020F0}
a:hover   {background-color:#C0C0C0;color:#0030FF}

body {background-color:#F0F0F0;color:#000000} 

p.footer {text-align:right}

span.hebrew {direction:rtl;font-size:xx-large}

h2 {text-align: center}
em {font-style: italic}
-->
</style>
