.school     {background-color:#F0F0F0;color:#0C0C0C;}
.nncc       {background-color:#659400;color:#FFFFFF;}
.mutual     {background-color:#946500;color:#FFFFFF;}
.incontext  {background-color:#940065;color:#FFFFFF;}
.pcdocs     {background-color:#650094;color:#FFFFFF;}
.screaming  {background-color:#009465;color:#FFFFFF;}
.sona       {background-color:#000065;color:#FFFFFF;}
.phantom    {background-color:#005688;color:#FFFFFF;}
.consulting {background-color:#949400;color:#FFFFFF;}
.mozilla    {background-color:#880400;color:#FFFFFF;} /* Dino Red, but darker! */
.league     {background-color:#3E16A3;color:#FFFFFF;} /* Blurple! */
.unknown    {background-color:#006500;color:#FFFFFF;}


.title {font-size:16pt;font-family:Verdana}
.subtitle {font-size:12pt;font-family:Verdana;font-weight:600}
.smalltitle {font-size:10pt;font-family:Verdana;font-weight:600;font-style:italic}
.instruction {font-size:10pt;font-family:Verdana;font-weight:600}
.body  {background-color:#ffffff;color:#0C0C0C;font-size:11pt;font-family:Verdana}
.info {font-size:10pt;font-family:Verdana}
.label {font-size:10pt;font-family:Verdana;font-weight:900}
.links {font-size:10pt;font-family:Verdana}
.minilinks {font-size:8pt;font-family:Verdana}
.query {font-size:10pt;font-family:Verdana}
.tabletitle {background-color:#006594;color:#FFFFFF;font-size:11pt;font-family:Verdana;font-weight:900;link:#FFFFFF;alink:#FFFFFF;vlink:#FFFFFF}
.tabletotals {font-size:11pt;font-family:Verdana;font-weight:900}
.tabledata  {font-size:10pt;font-family:Verdana}
.inputfield  {font-size:12pt;font-family:Verdana}
.inputlabel  {font-size:12pt;font-family:Verdana}
.validationErrors  {font-size:12pt;font-family:Verdana}
.resultstabletitle {font-size:10pt;font-family:courier;font-weight:900}
.resultstabledata {font-size:8pt;font-family:courier}
.minifont {font-size:8pt;font-family:Verdana;font-weight:600}
.microfont {font-size:8pt;font-family:Verdana}
.updatedata {font-size:10pt;font-family:Verdana}
.usertext  {font-size:11pt;font-family:Courier}
