<style type="text/css">
<!--

a:link    {color:#F0F0F0;text-decoration: none}
a:visited {color:#606060;text-decoration: none}
a:active  {color:#909090;text-decoration: none}
a:hover   {background-color:#303030;color:#C0C0C0;text-decoration: none}

h1 {text-align: center;color=#FFFFFF}
h2 {text-align: center;color=#E0E0E0}
body {background:#000000;color:#F0F0F0} 

-->
</style>
