<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>name</key>
		<string>Blake’s iTouch Apps</string>
		<key>maintainer</key>
		<string>Blake Winton</string>
		<key>contact</key>
		<string>bwinton+iTouch@latte.ca</string>
		<key>url</key>
		<string>http://weblog.latte.ca/</string>
		<key>category</key>
		<string>Other Sources</string>
		<key>description</key>
		<string>This is never going to work.</string>
	</dict>
	<key>packages</key>
	<array/>
</dict>
</plist>
